#dataTrack .slider-track-low {
    background: #e5e5ff;
}

.slider {
    margin-bottom: 10px;
    padding: 15px;
}

.show-on-submit {
    display: none;
}

.dynamic-prices {
    margin: 20px;
}

.chart {
    margin: 25px;
}

.slider.slider-horizontal {
    float: right;
    width: 350px !important;
}

.slider {
    padding: 0 !important;
}

.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
    background-color: #ff9900;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    width: 300px;
}
